@font-face {
    font-family: 'Alex Brush'; /*a name to be used later*/
    src: url('/fonts/AlexBrush-Regular.ttf'); /*URL to font*/
    font-family: 'Bangers'; /*a name to be used later*/
    src: url('/fonts/Bangers.ttf'); /*URL to font*/
}
.main-title {
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #efefef;
}
.main-text {
    font-family: 'Bangers';
    font-size: 42px;
    color: #4053af;
    text-shadow: 1px 1px 2px;
}
.msm-item {
    border: 1px solid #4947d8;
    border-radius: 5px;
    margin: 0 5px;
}
.msm-link {
    color: #0c5460;
}