@font-face {
    font-family: 'Alex Brush'; /*a name to be used later*/
    src: url('/fonts/AlexBrush-Regular.ttf'); /*URL to font*/
    font-family: 'Bangers'; /*a name to be used later*/
    src: url('/fonts/Bangers.ttf'); /*URL to font*/
}
.main-title {
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #efefef;
}
.main-text {
    font-family: 'Bangers';
    font-size: 42px;
    color: #4053af;
    text-shadow: 1px 1px 2px;
}
.msm-item {
    border: 1px solid #4947d8;
    border-radius: 5px;
    margin: 0 5px;
    min-width: 120px;
    background: #e5f3ff;
    transition-property: background;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}
.msm-item:hover {
    background: #a8d7ff;
}
.msm-item:hover > a.nav-link {
    color: #444 !important;
}
.msm-active-item {
    background: #4053af;
}
.msm-active-item > a.nav-link {
    color: #FFF !important;
}
.msm-link {
    color: #0c5460;
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    letter-spacing: 1px;
}
.view-layout {
    border: #eee 1px solid;
    padding: 16px;
}