.banner {
    background: #05425f;
    height: 150px;
    border-radius: 20px;
    padding: 22px 20px;
    position: relative;
    line-height: 150px;
}
.image {
    position: absolute;
    height: 150px;
    vertical-align: middle;
}
.zip-code {
    height: 40px;
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    border-radius: 10px;
    outline: 0;
    border: 0;
    padding: 10px;
}
.submit-btn {
    width: 200px;
    height: 54px;
    border-radius: 26px;
    color: #fff;
    letter-spacing: 4px;
    cursor: pointer;
    font-size: 20px;
    right: 140px;
    border: 2px solid #fff;
    background: none;
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
}
.input-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    width: 50%;
}
.zip-label {
    color: #FFF;
    font-family: sans-serif;
    display: inline-block;
}